<!DOCTYPE html>
<html lang="en">

<head>
  <link rel="shortcut icon" href="data:image/svg+xml, %3Csvg%20id%3D%22logo-svg%22%20class%3D%22h-16%20px-4%22%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20viewBox%3D%220%200%20640%20512%22%3E%3C%21--%21Font%20Awesome%20Free%206.7.2%20by%20%40fontawesome%20-%20https%3A%2F%2Ffontawesome.com%20License%20-%20https%3A%2F%2Ffontawesome.com%2Flicense%2Ffree%20Copyright%202025%20Fonticons%2C%20Inc.--%3E%3Cpath%20d%3D%22M192%2064C86%2064%200%20150%200%20256S86%20448%20192%20448l256%200c106%200%20192-86%20192-192s-86-192-192-192L192%2064zM496%20168a40%2040%200%201%201%200%2080%2040%2040%200%201%201%200-80zM392%20304a40%2040%200%201%201%2080%200%2040%2040%200%201%201%20-80%200zM168%20200c0-13.3%2010.7-24%2024-24s24%2010.7%2024%2024l0%2032%2032%200c13.3%200%2024%2010.7%2024%2024s-10.7%2024-24%2024l-32%200%200%2032c0%2013.3-10.7%2024-24%2024s-24-10.7-24-24l0-32-32%200c-13.3%200-24-10.7-24-24s10.7-24%2024-24l32%200%200-32z%22%2F%3E%3C%2Fsvg%3E" type="image/svg+xml">
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <script src="https://unpkg.com/htmx.org@1.9.6"
    integrity="sha384-FhXw7b6AlE/jyjlZH5iHa/tTe9EpJ1Y55RjcgPbjeWMskSxZt1v9qkxLJWNJaGni"
    crossorigin="anonymous"></script>
  <script src="https://cdn.tailwindcss.com"></script>
  <script src="https://cdn.plot.ly/plotly-2.27.0.min.js" charset="utf-8"></script>
  <style>
    #logo-svg path {
      fill: #333333
    }

    .htmx-indicator {
        display: none;
    }

    .htmx-request.htmx-indicator {
        display: contents;
    }

    .htmx-loaded-content {
        display: contents;
    }

    .htmx-request.htmx-loaded-content {
        display: none;
    }
  </style>
  <title>Ibrahim Assignment 3</title>
</head>

<body>
  <div class="flex h-screen w-screen flex-col bg-white">
    <nav class="flex items-center justify-center border-b border-gray-300 p-8">
      <svg id="logo-svg" class="h-16 px-4" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 640 512"><!--!Font Awesome Free 6.7.2 by @fontawesome - https://fontawesome.com License - https://fontawesome.com/license/free Copyright 2025 Fonticons, Inc.--><path d="M192 64C86 64 0 150 0 256S86 448 192 448l256 0c106 0 192-86 192-192s-86-192-192-192L192 64zM496 168a40 40 0 1 1 0 80 40 40 0 1 1 0-80zM392 304a40 40 0 1 1 80 0 40 40 0 1 1 -80 0zM168 200c0-13.3 10.7-24 24-24s24 10.7 24 24l0 32 32 0c13.3 0 24 10.7 24 24s-10.7 24-24 24l-32 0 0 32c0 13.3-10.7 24-24 24s-24-10.7-24-24l0-32-32 0c-13.3 0-24-10.7-24-24s10.7-24 24-24l32 0 0-32z"/></svg>
      <h1 class="text-xl font-semibold">Trends in Video Game from 1980 to 2023</h1>
    </nav>
    <div class="container mx-auto flex items-center justify-center p-4">
      <div class="w-full justify-center">
        <div class="my-4 flex items-center justify-center rounded-lg">
          <div class="flex w-full items-center rounded-lg bg-gray-100 p-8 text-gray-800">
            <div>
              <div class="text">
                In this report we will take a look at the trends in video game releases from 1980 to 2020. We will look
                at the number of games released per year, the trends within the year, and the top genres of games
                released. We will also take a look at the reviews of the top 100 games. We will see what the reviews are
                saying and what the most common words used in the reviews are. This page also allows you to select the
                number of games to display in the word cloud. Some data cleaning was done to remove games not released
                yet, and to remove reviews that were not in English.
                <br />
                <br />
                Data source:
                <a class="text-blue-600 visited:text-purple-600"
                  href="https://www.kaggle.com/datasets/arnabchaki/popular-video-games-1980-2023">
                  kaggle.com/datasets/arnabchaki/popular-video-games-1980-2023</a>
              </div>
            </div>
          </div>
        </div>
        <!-- add page break after each graph for pdf -->
        <p style="page-break-after: always;"></p>
        {% for graph in graphs %}
        <!-- iterate over all graphs as defined in views.py -->
        <div class="my-4 flex flex-col items-center justify-center rounded-lg xl:flex-row">
          <div
            class="my-4 flex h-48 w-full items-center rounded-lg bg-gray-100 p-8 text-gray-800 xl:mr-8 xl:h-96 xl:w-4/12">
            <div>
              <!-- render the graph title and text -->
              <div class="text-2xl">{{ graph.title }}</div>
              <div class="text">{{ graph.text }}</div>
            </div>
          </div>
          <!-- using htmx to load the graph data from the server -->
          <div
            class="flex h-96 w-full items-center justify-center rounded-lg bg-gray-100 p-4 xl:w-8/12"
            hx-get="/api?graph={{ graph.id }}" hx-trigger="load delay:5s" hx-swap="outerHTML swap:1s" hx-target="#graph-id-{{ graph.id }}">
            <div id="graph-id-{{ graph.id }}" class="text-2xl text-gray-800">Loading...</div>
          </div>
        </div>
        <p style="page-break-after: always;"></p>
        {% endfor %}
        <div class="my-4 flex flex-col items-center justify-center rounded-lg xl:flex-row">
          <div
            class="my-4 flex h-48 w-full items-center rounded-lg bg-gray-100 p-8 text-gray-800 xl:mr-8 xl:h-96 xl:w-4/12">
            <div>
              <!-- render the wordcloud title and text -->
              <div class="text-2xl">{{ wordcloud.title }}</div>
              <div class="text">{{ wordcloud.text }}</div>

              <!-- using htmx to load the wordcloud data from the server -->
              <!-- define a select box to select the number of games to display in the wordcloud -->
              <select id="wordcloud-select" name="game_count" hx-get="/wordcloud" hx-target="#wordcloud-image"
                hx-swap="innerHTML" hx-trigger="change,load" hx-indicator=".my-hx-indicator-identifier-1"
                class="block w-full rounded-lg border border-gray-300 p-2.5">
                <option value="select">Select a count</option>
                {% for value in wordcloud.values %}
                <option value="{{ value }}">Top {{ value }} games</option>
                {% endfor %}
              </select>
            </div>
          </div>
          <!-- using htmx to load the wordcloud data from the server -->
          <div
            class="flex h-96 w-full items-center justify-center rounded-lg bg-gray-100 p-4 xl:w-8/12">
            <div class="my-hx-indicator-identifier-1 htmx-indicator text-2xl text-gray-800 " style="width: 700px; height: 450px">Loading...
            </div>
            <div id="wordcloud-image" class="my-hx-indicator-identifier-1 htmx-loaded-content htmx-indicator"></div>
          </div>
        </div>
      </div>
    </div>
  </div>

</body>

</html>
